extends ../application.pug

block content
  .container
    h1 Search Results:
    each user in results
        .card.card-block
          h4(class="card-title")= user.firstname + " " + user.lastname
          p(class="card-text")= "Email: " + user.email
